.list-modal {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.list-modal > .window {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  left: 50%;
  max-width: 400px;
  min-height: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.list-modal > .window > .header {
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  width: 100%;
}
.list-modal > .window > .body {
  box-sizing: border-box;
  float: left;
  min-height: 50px;
  padding: 20px;
  width: 100%;
}
.list-modal > .window > .body > .label {
  box-sizing: border-box;
  font-size: 12px;
  width: 100%;
}
.list-modal > .window > .body > .label .input {
  appearance: none;
  border: 1px solid #333;
  border-radius: 3px;
  box-sizing: border-box;
  height: 30px;
  margin-top: 5px;
  padding: 0 10px;
  width: 100%;
}
.list-modal > .window > .footer {
  border-top: 1px solid #000;
  box-sizing: border-box;
  float: left;
  height: 50px;
  width: 100%;
}